:root {
    font-size: 1rem;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eceef1;
    position: relative;
    padding-bottom: 90px;
    /*put the height/width of the footer (see this value in the web brpowser's Dev tools) in pixels as its value*/
    min-height: 100vh;
    /*vh (viewport height as unit of measure))*/
}

a {
    text-decoration: none;
    color: rgb(0, 119, 197);
}

#navbar {


    display: flex;
    flex-direction: row;
    justify-content: flex-end;


}

.nav-texts {
    margin-top: -0.1rem;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.3rem;
    line-height: 0.1rem;


}

#nav-text {
    margin-right: -11.9rem;

}


#nav-link {
    font-size: 0.8rem;

    top: -2rem;
    margin-top: 1rem;
    text-align: match-parent;
}

#sign-in-button {
    color: white;
    background-color: rgb(0, 119, 197);
    padding: 0.7rem 1.2rem;
    border-radius: 0.1rem;
    /*    position: relative;*/
    top: -2rem;
    left: 0.5rem;
}

#lock-icon {
    margin-bottom: -0.25rem;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intuit-logo {
    margin-left: 5rem;
}

#form-container {
    background-color: white;
    border: 0.1rem solid lightgrey;
    width: 380px;
    height: 80%;
    padding: 0.5rem 2rem 20rem 2rem;
    align-self: center;
}

h3 {
    color: rgb(107, 105, 105);
    text-align: center;
    font-weight: lighter;
    font-size: 1.5rem;
}

#form-container-text {
    color: rgb(82, 81, 81);
    text-align: center;
    font-weight: lighter;
    font-size: 1rem;
    margin-bottom: -0.1rem;
}

#learn-more {
    font-size: 0.8rem;
    padding-left: 10rem;
}

#form-elements {
    margin-top: 2rem;
    /*
    display: flex;
    flex-direction: column;
    align-items: center;
*/
}

.input-bars {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.15rem;
}

h6 {
    font-weight: lighter;
    margin-top: -0.1rem;
}

#unlock-icon {
    position: relative;
    top: -1.5rem;
    left: 23rem;
    opacity: 0.2;
}

#create-account-button {
    color: white;
    background-color: rgb(0, 119, 197);
    padding: 0.8rem 8.5rem 0.8rem 8.2rem;
    border-radius: 0.5rem;
    display: inline-flex;
    justify-content: center;
    margin-top: 1.7rem;
    margin-left: -0.5rem;
    box-shadow: none;
    font-size: 1rem;


    justify-content: center
}

#lock-create-account {}

.main-container-texts {
    color: rgb(82, 81, 81);
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 5rem;
    text-align: center;
}


#main-container-texts1 {

    position: absolute;
    margin-top: 18rem;
    text-align: center;
    font-size: 0.8rem;

}











#footer {
    display: inline-block;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
h4,
h5,
h6,
p,
a,
form,
label,
footer,
nav,
section,
    {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
footer,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}
