:root {
    font-size: 1rem;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eceef1;
}

a {
    text-decoration: none;
    color: rgb(0, 119, 197);
}

#navbar {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    */
    /*    float: right;*/
}

#navbar > ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
    grid-auto-flow: row;
    grid-template-rows: 1.5rem 1.5rem;

    grid-gap: 0.5rem;

}

#navbar ul > li:first-child {
    grid-area: 1/1/2/2;
    opacity: 0.5;
    width: 25rem;
    align-self: flex-end;
}

#navbar ul > li:nth-child(2) {
    grid-area: 2 /1 / 3/2;
    align-self: flex-start;
    width: 25rem;
}

#navbar ul > li:nth-child(3) {
    grid-area: 1/2/-1/-1;
    align-self: center;

}

#sign-in-button {
    color: white;
    background-color: rgb(0, 119, 197);
    padding: 1rem 0.8rem;
    border-radius: 0.3rem;
    position: relative;
}

#sign-in-text {
    position: relative;
    top: -0.4rem;
}

#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intuit-logo {
    margin-left: 1rem;
}

#form-container {
    background-color: white;
    border: 0.1rem solid lightgrey;
    width: 380px;
    height: 80%;
    padding: 0.5rem 2rem 7rem 2rem;
    position: relative;
}

h3 {
    color: rgb(107, 105, 105);
    text-align: center;
    font-weight: lighter;
    font-size: 1.5rem;
}

#form-container-text {
    color: rgb(82, 81, 81);
    text-align: center;
    font-weight: lighter;
    font-size: 1rem;
    margin-bottom: -0.1rem;
}

#learn-more {
    font-size: 0.8rem;
    padding-left: 10rem;
}

#form-elements {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex: initial;
}

/*
<<<<<<< HEAD .input-bars {
    http: //meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126 License: none (public domain) html,
    body,
    div,
    h4,
    h5,
    h6,
    p,
    a,
    form,
    label,
    footer,
    nav,
    section,
        {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    padding: 0.7rem;
    border: 0.2px solid grey;
}*/
.input-bars {
    padding: 0.7rem;
    border: 0.2px solid grey;
}

/*
> > > > > > > 291346ec15e05e6e333d98b360e75b61397ec3bc h6 {
    font-weight: lighter;
    margin-top: -0.1rem;
}*/
#unlock_icon {
    position: absolute;
    bottom: 44.9%;
    left: 23.7rem;
    opacity: 0.5;
}

#create-account-button {
    color: white;
    background-color: rgb(0, 119, 197);
    padding: 0.8rem 8.4rem 0.8rem 7rem;
    border-radius: 0.5rem;
    display: inline-flex;
    justify-content: center;
    margin-top: 1.4rem;
    margin-left: -0.18rem;
    box-shadow: none;
    font-size: 1rem;
}

#main-container-texts {
    color: rgb(82, 81, 81);
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 2rem;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*    <<<<<<< HEAD position: relative;*/
}

/*
name="intuit-form"id="form-elements" > <label for="email" > Email address</label > <br > ul {
    =======
}
*/
ul {
    list-style: none;
}

ul > li {
    list-style-position: outride;
    line-height: 0.5rem;
}

.main-container-texts li:nth-child(2) {
    margin-left: -0.8rem;
}

#main-container-text-2 {
    margin-left: -1rem;
}

li:last-child {
    margin-left: 5.5rem;
    line-height: 1.5rem;
}

#main-container-lastchild {
    margin-bottom: -2rem;
    position: absolute;
    margin-top: 9rem;
    text-align: center;
    padding: 0.55rem 0.14rem;
    background-color: grey;
    box-sizing: content-box;
    width: 100%;
    height: 2.6rem;
    line-height: 2.2rem;
    background-color: #d6d8da;
}

footer {
    display: inline-block;
    text-align: center;
    margin-top: 1.4rem;
    margin-left: -0.5rem;
}

.footer-texts {
    color: rgb(78, 78, 78);
    font-size: 0.8rem;
}

.footer-links:hover {
    text-decoration: underline;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
h4,
h5,
h6,
p,
a,
form,
label,
footer,
nav,
section,
    {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
